<div class="leftbar">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" id="sy_state">
            <a>首页</a>
            <span class="glyphicon glyphicon-home myicon" aria-hidden="true"></span>
        </li>
        <li role="presentation" id="ywxg_state">
            <a>与我相关<span class="badge" ng-show="commentIndex !=0 && commentIndex">{{commentIndex || 0}}</span></a>
            <span class="glyphicon glyphicon-star myicon" aria-hidden="true"></span>
        </li>
        <li role="presentation" id="chat_state">
            <a>我的聊天<span class="badge" ng-show="chatIndex !=0 && chatIndex">{{chatIndex || 0}}</span></a>
            <span class="glyphicon glyphicon-comment myicon" aria-hidden="true"></span>
        </li>
        <li role="presentation" id="picture_state">
            <a>我的照片</a>
            <span class="glyphicon glyphicon-picture myicon" aria-hidden="true"></span>
        </li>
        <li role="presentation" id="grxx_state">
            <a>个人信息</a>
            <span class="glyphicon glyphicon-user myicon" aria-hidden="true"></span>
        </li>
    </ul>
</div>