<div class="container">
  <h1>Welcome</h1>
  <form class="slide" ng-if="showflag">
    <div class="form-group has-success has-feedback">
      <label class="sr-only control-label" for="inputSuccess2">Input with success</label>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <input type="text" class="form-control input-lg" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="用户名">
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="inputSuccess2Status" class="sr-only">(success)</span>
      </div>
    </div>
    <div class="form-group has-success has-feedback">
      <label class="sr-only control-label" for="inputSuccess2">Input with success</label>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </div>
        <input type="password" class="form-control input-lg" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="密码">
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="inputSuccess2Status" class="sr-only">(success)</span>
      </div>
    </div>
    <div class="form-group has-success has-feedback">
      <label class="sr-only control-label" for="inputSuccess2">Input with success</label>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </div>
        <input type="password" class="form-control input-lg" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="再次输入密码">
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="inputSuccess2Status" class="sr-only">(success)</span>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default btn-lg" ng-click="register()">注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</button>
    </div>
    <div class="form-group">
      <a type="button" ng-click="toLogin()" style="cursor: pointer;float: right;color: grey;pointer: inherit;font-size: 20px;">已有账号登录</a>
    </div>
  </form>
</div>
